@import './variables';

@media all and ( orientation: landscape ) {

    page#membership {

        panel {
    
            position: absolute;
            left: 0;
            top: 0;
    
            width: calc( ( 100vh - 250px ) * 1.778 );
            height: calc( 100vh - 250px );
    
            margin-left: 50vw;
            margin-top: calc( ( 100vh - 153px ) / 2 );
    
            background-color: $color-back;
            border-radius: 8px 8px 0px 0px;
            transform: $translate-c;
    
            & iframe {
    
                border-radius: 8px 8px 0px 0px;
                outline: none;
    
            }
    
            & info {
    
                position: absolute;
                left: 0;
                top: 0;
    
                width: calc( 100% - 40px );
    
                margin-top: calc( 100vh - 250px );
    
                background-color: $color-mid;
                border-radius: 0px 0px 8px 8px;
                color: white;
                display: inline-block;
                font-family: $font-main;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 20px 10px 20px;
                text-align: center;
    
            }
    
            &:hover {
    
                transform: $translate-c;
    
            }
    
        }
    
    }

}

@media all and ( orientation: portrait ) {

    page#membership {

        panel {
    
            position: absolute;
            left: 0;
            top: 0;
    
            width: calc( 100vw - 96px );
            height: calc( ( 100vw - 96px ) / 1.778 );
    
            margin-left: 50vw;
            margin-top: calc( ( 100vh - 153px ) / 2 );
    
            background-color: $color-back;
            border-radius: 8px 8px 0px 0px;
            transform: $translate-c;
    
            & iframe {
    
                border-radius: 8px 8px 0px 0px;
                outline: none;
    
            }
    
            & info {
    
                position: absolute;
                left: 0;
                top: 0;
    
                width: calc( 100% - 40px );
    
                margin-top: calc( ( 100vw - 96px ) / 1.778 );
    
                background-color: $color-mid;
                border-radius: 0px 0px 8px 8px;
                color: white;
                display: inline-block;
                font-family: $font-main;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 20px 10px 20px;
                text-align: center;
    
            }
    
            &:hover {
    
                transform: $translate-c;
    
            }
    
        }
    
    }

}