text-ui {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: black;
    display: inline-block;
    pointer-events: none;

    z-index: 999;

    & content {
        position: absolute;

        margin: 50vh 0 0 50vw;

        transform: translate( -50%, -50% );

        

        & img {
            width: 40%;
            
            display: block;
            margin: auto;

            
        }
    
        & ul {
            &#description, &#loading, &#title {
                padding-inline-start: 0;    
                transition: 0.25s;
            }

            &#description {
                & li {
                    width: 100%;
    
                    margin: 0;
                    padding: 0;
        
                    color: white;
                    display: block;
                    font-family: 'Montserrat';
                    font-weight: bold;
                    list-style: none;
                    text-align: center;
                    white-space: nowrap;
    
                    
                }
            }

            &#loading {
                & li {
                    width: 100%;
        
                    color: grey;
                    font-family: 'Montserrat';
                    font-weight: bold;
                    letter-spacing: 4px;
                    list-style: none;
                    text-align: center;
                    white-space: nowrap;
                }
            }

            &#title {
                & li {
                    width: 100%;
        
                    color: white;
                    font-family: 'Montserrat';
                    font-size: 50px;
                    font-weight: bolder;
                    list-style: none;
                    text-align: center;
                    white-space: nowrap;
        
                    
                }

                &:hover {
                    transform: rotate3d( 1, 2, 0, 20deg );
                }
            }
        }
    
        & hr  {
            color: grey;
            margin-top: 20px;
            margin-bottom: 15px;
            margin-left: calc( 50% - 50px );

            
        }
    }

    & engine-logo {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 200px;
        height: 68px;

        margin: 1vh;

        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        image-rendering: crisp-edges;
    }
}

@keyframes recolor--ui {
    0% {
        background-color: black;
    } 50% {
        background-color: black;
    } 100% {
        background-color: transparent;
    }
}

@keyframes move-to-left--content {
    from {
        margin: 50vh 0 0 50vw;

        transform: translate( -50%, -50% );
    } to {
        margin: 1vh 0 0 0;

        transform: translate( 0%, 0% );
    }
}

@keyframes move-to-left--text {
    0% {
        width: 100%;

        color: white;
        padding-inline-start: 0;
    } 50% {
        width: 0;

        color: white;
        padding-inline-start: 40px;
    } 100% {
        width: 0;

        color: black;
        padding-inline-start: 40px;
    }
}

@keyframes move-to-left--hr {
    from {
        margin-left: calc( 50% - 50px );
    } to {
        margin-left: 40px;
        margin-top: 15px;
    }
}

@keyframes disappear--hr {
    from {
        opacity: 1;
    } to {
        margin: 0 0 0 40px;

        opacity: 0;
    }
}

@keyframes disappear--img {
    from {
        width: 40%;

        opacity: 1;
    } to {
        width: 0%;
        height: 0%;

        margin: 0 0 0 80px;

        opacity: 0;
    }
}

@keyframes disappear--loading {
    from {
        width: 100%;

        opacity: 1;
        padding-inline-start: 0;
    } to {
        width: 0;

        opacity: 0;
        padding-inline-start: 40px;
    }
}

//

@keyframes disappear {
    from {
        background-color: white;
        box-shadow: inset 0 0 25vw rgba( 0, 0, 0, 0.4 );
        opacity: 1;

        pointer-events: all;
    } to {
        background-color: white;
        box-shadow: inset 0 0 0 rgba( 0, 0, 0, 0.4 );
        opacity: 0;

        pointer-events: none;
    }
}

@keyframes appear {
    from {
        background-color: white;
        box-shadow: inset 0 0 0 rgba( 0, 0, 0, 0.4 );
        opacity: 0;

        pointer-events: none;
    } to {
        background-color: white;
        box-shadow: inset 0 0 25vw rgba( 0, 0, 0, 0.4 );
        opacity: 1;

        pointer-events: all;
    }
}