$color-back: #212121;
$color-main: #313131;
$color-mid: #262626;
$font-main: 'Montserrat';
$font-text: 'Trebuchet MS';
$translate-c: translate( -50%, -50% );
$translate-cx: translateX( -50% );
$translate-cy: translateY( -50% );